.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Contract {
  width: 400px;
  margin: 0 auto;

  font-size: 15px;
}

.Contract div + button {
  margin-top: 20px;
}

.Contract div > button {
  float: right;
}

.Contract-holder {
  text-align: center;
  padding: 20px;
}

.Approvers {
  font-size: 16px;
  line-height: 24px;
}

.Approvers-selected {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
